$colors: (
  primary: rgb(255, 203, 66),
  js: rgb(255, 203, 66),
  react: rgb(94, 211, 243),
  next: rgb(255, 255, 255),
  algolia: rgb(20, 147, 255),
  scss: rgb(209, 111, 160),
  sanity: rgb(243, 100, 88),
  css: rgb(88, 134, 241),
  html: rgb(233, 98, 40),
  php: rgb(123, 135, 193),
  wp: rgb(129, 169, 249),
  leaflet: rgb(175, 220, 89),
);

:root {
  @each $name, $color in $colors {
    --clr-#{$name}: #{$color};
    --clr-#{$name}-muted: #{rgba($color, 0.2)};
    --clr-#{$name}-bg: #{rgba($color, 0.2)};
  }

  --clr-text: #afb7c2;
  --clr-heading: hsl(0, 0%, 97%);
  --clr-heading-muted: hsl(0, 0%, 80%);
  --clr-neutral-700: hsl(0, 0%, 50%);
  --clr-link: #dde0e4;

  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;
  --fs-900: 3.5rem;

  --clr-background: rgb(17, 23, 31);
  --clr-background-transparent: rgba(0, 0, 0, 0.1);
  --background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  --border-radius: 0.25rem;
}

html.matrix {
  --clr-text: var(--clr-matrix-muted);

  --clr-heading: var(--clr-matrix);
  --clr-heading-muted: var(--clr-matrix);

  --clr-neutral-700: var(--clr-matrix);

  --clr-link: var(--clr-matrix);

  // new
  --background: radial-gradient(rgb(19 26 19 / 27%), black 100%);
  --clr-background: rgb(10, 10, 10);
  --clr-background-transparent: transparent;

  --clr-primary-base: var(--clr-matrix);
  --clr-primary: var(--clr-matrix);
  --clr-primary-muted: var(--clr-matrix);

  --border-radius: 0.25rem;

  @each $name, $color in $colors {
    --clr-#{$name}: var(--clr-matrix);
    --clr-#{$name}-muted: #48f5264a;
    --clr-#{$name}-bg: #48f5260f;
  }
}
