@import "./variables";
@import "./mixins";

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  overflow-x: hidden;
}

main {
  color: var(--clr-text);
  margin-bottom: 600px;
}

html {
  scroll-behavior: smooth;
  background-image: var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 900px;
  margin-inline: auto;
  padding-inline: 2rem;
  @include tablet() {
    padding-inline: 1.5rem;
  }
  @include mobile() {
    padding-inline: 1rem;
  }
}

button,
.button {
  &[data-type="primary"] {
    background: transparent;
    outline: none;
    border: 1px solid var(--clr-primary);
    border-radius: 100px;
    padding: 0.5rem 20px;
    &:hover {
      cursor: pointer;
      color: black;
      background: var(--clr-primary);
      // border:3px solid var(--clr-primary);
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  max-height: 92svh;
  top: 0;
  z-index: 1;
  @include tablet() {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline: 0.5rem;
  }
  h1,
  h2 {
    background: -webkit-linear-gradient(white, #798491);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

a,
a:visited {
  color: var(--clr-link);
  font-weight: 500;
  text-decoration: none;
  &:hover {
    color: var(--clr-primary);
  }
}

p {
  padding-bottom: 1rem;
  line-height: 1.625;
  &:hover {
    cursor: default;
  }
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  color: var(--clr-heading);
}

h2,
h3 {
  color: var(--clr-heading-muted);
}

.code-heading {
  &:before {
    content: "<";
    color: var(--clr-primary);
    padding-right: 3px;
  }
  &:after {
    content: "/>";
    color: var(--clr-primary);
    padding-left: 8px;
  }
}

section {
  margin: 1rem auto;
}

ul {
  list-style-type: none;
}

#region scrollbar *::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar {
  width: 8px;
  border-radius: 50px;
  @include tablet() {
    width: 3px;
  }
}

*::-webkit-scrollbar-track {
  background: #0d0e16;
  border-radius: 50px;
  padding: 2rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-text);
  border-radius: 50px;
}

//#endregion
.visually-hidden {
  display: none;
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.cursor-glow {
  position: fixed;
  pointer-events: none;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-image: radial-gradient(hsla(215, 59%, 35%, 0.1), transparent 75%);
  // background:red;
  transform: translate(-50%, -50%);
  z-index: -1;
  @include smallScreen() {
    display: none;
  }
}

.center-text {
  text-align: center;
}

.transparent-bg {
  background: rgba(0, 0, 0, 0.33);
}

.aws {
  path:first-of-type {
    fill: white;
  }
}
