.matrix .stars { 
  display:none 
}

.stars { 
  position: fixed;
  left:0;
  top:0;
  pointer-events: none;
  z-index: -1;
}


$width: 4000px;

// n is number of stars
@function multiple-box-shadow($n) {
  $value: '#{random($width)}px #{random($width)}px rgba(200,200,200,0.8)';
  @for $i from 2 through $n {
    $value: '#{$value}, #{random($width)}px #{random($width)}px rgba(200,200,200,0.8)';
  }
  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(1400);
$shadows-medium: multiple-box-shadow(400);
$shadows-big:    multiple-box-shadow(300);


#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: starAnim 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: $width;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: starAnim 200s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: $width;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: starAnim 300s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: $width;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}


@keyframes starAnim {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-$width);
  }
}
