  :root {
    --clr-text: hsl(0, 0%, 60%);

    --clr-heading: hsl(0, 0%, 95%);
    --clr-heading-muted: hsl(0, 0%, 70%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-150: hsl(0, 0%, 95%);
    --clr-neutral-200: hsl(0, 0%, 90%);
    --clr-neutral-300: hsl(0, 0%, 80%);
    --clr-neutral-400: hsl(0, 0%, 70%);
    --clr-neutral-500: hsl(0, 0%, 60%);
    --clr-neutral-600: hsl(0, 0%, 50%);
    --clr-neutral-700: hsl(0, 0%, 40%);
    --clr-neutral-800: hsl(0, 0%, 30%);
    --clr-neutral-900: hsl(0, 0%, 20%);
    --clr-neutral-950: hsl(0, 0%, 10%);
    --clr-neutral-975: hsl(0, 0%, 5%);
    --clr-neutral-990: hsl(0, 0%, 2.5%);
    --clr-neutral-995: hsl(0, 0%, 1.25%);
    --clr-neutral-1000: hsl(0, 0%, 0%);

    --fs-200: 0.75rem;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 2.5rem;
    --fs-800: 3rem;
    --fs-900: 3.5rem;


    --clr-link: hsl(0, 0%, 95%);

    --clr-primary:#5eead4;
    --clr-primary-muted:#122B39;

    --clr-background: #0D1117;
    --clr-background-muted: #181e28;


    // new
    --clr-background: rgb(17, 23, 31);
    --clr-background-transparent: #11171fd7;
    --clr-background-muted: #181e28;

        
    --clr-primary-base:rgb(33, 212, 161);
    --clr-primary-base: 33, 212, 161;
    --clr-primary-base: 255, 203, 66;
    --clr-primary: rgb(var(--clr-primary-base));
    --clr-primary-muted: rgba(var(--clr-primary-base), 0.16);
    
    --border-radius: 0.25rem;

    --clr-react-base: 94, 211, 243;
    --clr-react: rgb(var(--clr-react-base));
    --clr-react-bg: rgba(var(--clr-react-base), 0.1);

    --clr-next-base: 255, 255, 255;
    --clr-next: rgb(var(--clr-next-base));
    --clr-next-bg: rgba(var(--clr-next-base), 0.1);

    --clr-algolia-base: 20, 147, 255;
    --clr-algolia: rgb(var(--clr-algolia-base));
    --clr-algolia-bg: rgba(var(--clr-algolia-base), 0.1);

    --clr-scss-base: 209, 111, 160;
    --clr-scss: rgb(var(--clr-scss-base));
    --clr-scss-bg: rgba(var(--clr-scss-base), 0.1);

    --clr-sanity-base:243, 100, 88;
    --clr-sanity: rgb(var(--clr-sanity-base));
    --clr-sanity-bg: rgba(var(--clr-sanity-base), 0.1);
    
    --clr-css-base:88,134,241;
    --clr-css: rgb(var(--clr-css-base));
    --clr-css-bg: rgba(var(--clr-css-base), 0.1);
    
    --clr-html-base:233,98,40;
    --clr-html: rgb(var(--clr-html-base));
    --clr-html-bg: rgba(var(--clr-html-base), 0.1);
    
    --clr-php-base:123, 135, 193;
    --clr-php: rgb(var(--clr-php-base));
    --clr-php-bg: rgba(var(--clr-php-base), 0.1);
    
    --clr-wp-base:129,169,249;
    --clr-wp: rgb(var(--clr-wp-base));
    --clr-wp-bg: rgba(var(--clr-wp-base), 0.1);
    
  }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background-color: #0D1117;
//   }
// }