
.ace {
  text-align: center;
  height: 92svh;
  max-width: 495px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    border-radius:100%;
    margin-bottom:1.5rem;
  }
  p {
    color:var(--clr-text);
    text-wrap:balance;
  }

  ul {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    // a {
    //   color:var(--clr-primary);
    // }
  }
  h1,
  h2 {
    background: -webkit-linear-gradient(white, #798491);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:before,
    &:after {
      background: -webkit-linear-gradient(
        var(--clr-primary),
        var(--clr-primary)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.scroll {
  position:absolute;
  bottom: 10%;
  color:white;
  font-size:2rem;

    animation: bounce 2s ease infinite;

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
  }
  
}