@import "../../app/mixins";
.nav {
  display:flex;
  flex-direction: column;
  flex: 1;
  
}

.primary {
  margin-top:1rem;
  li {
    padding-bottom:2rem;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight:600;
    font-size:0.875rem;
  }
  @include smallScreen(){
   display:none;
  }
 }
 
.social {
  display:flex;
  font-size:1.75rem;
  gap:1rem;
  margin-top:auto;
  svg {
    color:var(--clr-text);
    &:hover{
      color:var(--clr-link);
    }
  }
  &svg:hover{
    color: #000;
  }
}