@import "@/app/styles/_mixins.scss";

.nav {
  position: fixed;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 9999;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 2rem;
    border-radius: 100px;
    background: rgba(11, 14, 20, 0.813);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(130, 130, 130, 0.3);
    text-transform: capitalize;
    a:hover {
      color:white;
    }
  }
}

.inactive {
  &:before, &:after {
    visibility: hidden;
  }
  &:hover:before, 
  &:hover:after {
    color:rgb(156, 156, 156);
    visibility: visible;
  }
}

.active:hover {
  color:white!important;
}