.projects {
  margin-inline:auto;
  max-width:600px;
}

.swiper {
  padding:2rem 2rem 3rem 2rem;
  overflow:visible;
  .slide {
    background:#0B0E15;
    border:1px solid #1f2532;
    border-radius:var(--border-radius);
  }
}